
<header>
  <p id = 'logo'><%= link_to 'RailsCampBlog', articles_path, method: :get %></p>
  <nav>
    <ul>
      <li><%= link_to 'トップ', articles_path, class: 'links', method: :get %></li>
      <li><%= link_to 'ユーザー登録', new_userdate_path, class: 'links' %></li>
      <li><%= link_to 'ログイン', login_path, class: 'links' %></li>
      <div class="clear"></div>
    </ul>
  </nav>
  <div class="clear"></div>
</header>

<div id = 'main'>
  <%= image_tag('main.png',) %>
</div>

<div id="article_wrap">

  <div id="article_list">
      <% @articles.each do |article| %>
      <div>
        <h2>
          <%= link_to article.title,
          article_path(article.id),
          method: :get %>
        </h2>
        <p><%= article.created_at %></p>
      </div>
      <% end %>
  </div>
  <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>
