<h2>
  <%= link_to 'RailsCampBlog', articles_path, class: 'header-menu', method: :get %>
  <%= link_to 'トップ', articles_path, class: 'header-menu', method: :get %>
  <%= link_to 'ユーザー登録', new_userdate_path, class: 'header-menu' %>
  <%= link_to 'ログイン', login_path, class: 'header-menu' %>
</h2>

<p>
  <%= @article.created_at  %>
  <%= @article.user  %>
</p>
<h2><%= @article.title %></h2>
<p><%= simple_format @article.body %></p>
