<header>
  <p id = 'logo'><%= link_to 'RailsCampBlog', root_path, method: :get %></p>
  <nav>
    <ul>
      <li><%= link_to 'トップ', root_path, class: 'links', method: :get %></li>
      <% if userdatum_signed_in? %>
        <li><%= link_to '新規投稿', new_article_path %></li>
        <li><%= link_to 'ログアウト', destroy_userdatum_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ユーザー登録', new_userdatum_registration_path %></li>
        <li><%= link_to 'ログイン', new_userdatum_session_path %></li>
      <% end %>
      <div class="clear"></div>
    </ul>
  </nav>
  <div class="clear"></div>
</header>

<div id="title">
    <div>
      <%= @article.created_at.strftime("%Y/%m/%d") %>
      書いた人:<%= @article.userdatum.email %>
        <h1><%= @article.title %></h1>
    </div>
</div>

<div id="article_wrap">
    <div id="content">
        <%= simple_format @article.body %>
    </div>
    <div class="clear"></div>
</div>
<p>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>
